<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Transferencias_de_Etiquetas.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Transferencias_de_Etiquetas.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <Transferencias_de_Etiquetas.Properties.Settings>
      <setting name="Servidor" serializeAs="String">
        <value>ServidorX</value>
      </setting>
      <setting name="Usuario" serializeAs="String">
        <value>etiquetas</value>
      </setting>
      <setting name="Contraseña" serializeAs="String">
        <value>corrales</value>
      </setting>
      <setting name="Puerto" serializeAs="String">
        <value>3306</value>
      </setting>
      <setting name="BaseDeDatos" serializeAs="String">
        <value>seguimiento_acc</value>
      </setting>
      <setting name="UrlWebService" serializeAs="String">
        <value>http://friolalamatriz.redesdurango.com:84/SegConFriolala/ServicioWeb.asmx</value>
      </setting>
    </Transferencias_de_Etiquetas.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <Transferencias_de_Etiquetas.Properties.Settings>
      <setting name="Transferencias_de_Etiquetas_WS_Friolala_ServicioWeb" serializeAs="String">
        <value>http://friolalamatriz.redesdurango.com:84/SegConFriolala/ServicioWeb.asmx</value>
      </setting>
    </Transferencias_de_Etiquetas.Properties.Settings>
  </applicationSettings>
  <connectionStrings>
    <add name="EtiquetasEntities" connectionString="metadata=res://*/Entity.SeguimientoEtiquetas.csdl|res://*/Entity.SeguimientoEtiquetas.ssdl|res://*/Entity.SeguimientoEtiquetas.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;user id=root;password=1234;persistsecurityinfo=True;database=seguimiento_acc&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>